In [7]:
a=10
if a==10:
    print('this is my first condition')

this is my first condition

In [9]:
a=10
if a<12 :
    print('print this if condition is true')

print this if condition is true

In [12]:
a=10
if a!=11:
    print('this is my true condition')
else :
        print('this is my false condition')

this is my true condition

In [13]:
a=10
if a==11:
    print('this is my true condition')

In [14]:
a=10
if a==11:
    print('this is false')
else:
    print('print this')

print this

In [16]:
a=10
if a==12:
    print('trying to compare 10 with 12')
elif a==11:
        print('trying to compare 10 with 11')
else:
    print('if all condition fails print this')

if all condition fails print this

In [30]:
price=500
if price>500:
    print('i will b not able to buy the jacket')
elif price<500:
    print('i will be able to buy the jacket')
elif price==500:
    print('for sure i will be able to buy')
else:
    print('i dont know')

for sure i will be able to buy

In [21]:
price>500

False

In [22]:
price<500

False

In [23]:
price==500

True

In [31]:
l=[1,2,3,4,5,6]

In [32]:
2 in l

True

In [36]:
if 3 in l: print('perform the task')
else:
    print('donot perform the task')

perform the task

In [39]:
if 1 in l: 
    print('try to do addition')
elif 2 in l: 
    print('try to do sub')
elif 3 in l: 
    print('try to do mul')
if 4 in l:
    print('this is a complete new statement')

try to do addition
this is a complete new statement

In [40]:
a=400

In [41]:
b=input()

400

In [42]:
b

'400'

In [43]:
type(b)

str

In [44]:
b=int(input())

400

In [45]:
b

400

In [46]:
type(b)

int

In [53]:
a =int(input())
if a < 500 :
    print("i will buy something")
    if a < 400 :
        print('i will buy jacket')
    elif a < 300 :
        print('i will buy shirt')
    else:
        print('i will not buy anything')
else:
    print('i can not buy anything at this price')

400
i will buy something
i will not buy anything

In [55]:
price  = int(input())
if price  <500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300 :
        
        print("i will be able to buy a shirt")
        if price < 200 :
            print("i would like to do sometign")
    else :
        print("i wont be able to buy anyting")
else :
     print("i wont be able to buy anything with this price tag")
     if price >500:
        print("lets try someting else ")

600
i wont be able to buy anything with this price tag
lets try someting else

In [84]:
marks=int(input())
if marks > 600:
    print(' getting into GRE')
else:
    print('Not getting into GRE')
    if marks<500-400:
        print('getting into TOFEL')
    else:
        print('not getting into TOFEL')
        if marks<400:
            print('try to do something else')

399
Not getting into GRE
not getting into TOFEL
try to do something else

In [89]:
val= float(input('enter floating number ='))
if val >=0:
    if val==0:
        print('number is zero')
    else:
        print('number is positive')
else:
    print('number is negative')

enter floating number =0
number is zero

In [2]:
a=10
if a<10 or a==10:
    print('try to do something')

try to do something

In [5]:
a=10
if a<10 and a>10:
    print('lets do something')

In [6]:
a=10
if a<10 and a==10:
    print('lets do something')

In [10]:
a=10
b=12
c=14
d=11
if a==9 or b==12 and c==14 and d==11:
    print('try to do something')

try to do something

In [11]:
d={'key1': 'value', 'key2':' vipin', 'key3':' thane'}

In [12]:
d

{'key1': 'value', 'key2': ' vipin', 'key3': ' thane'}

In [26]:
d={'key1': 'value', 'key2':' vipin', 'key3':' thane'}
if d['key1']=='value'and d['key2']==' Vipin'and d['key3']==' thane':
    print('all values are verified')
    print(d.values())
else:
    print('all values are not verified')

all values are not verified

In [27]:
l=[1,2,3,4,5,'vipin', 45.345]

In [28]:
for i in l:

    print(i)

1
2
3
4
5
vipin
45.345

In [29]:
l

[1, 2, 3, 4, 5, 'vipin', 45.345]

In [30]:
for i in l:

    print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [43]:
for i in l:
    if type(i)==int or type(i)== float:
        print(i+1)
    elif type(i)==str:
        print(i+str(1))

2
3
4
5
6
vipin1
46.345

In [49]:
a=[1,2,3,4,5,6,7,8,9,10]
for i in a:
    print(i+1)

2
3
4
5
6
7
8
9
10
11

In [52]:
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)